:root{
	--mainColor:#9eb5b6;
	--secondaryColor:#506566;

	--borderColor:#184d55;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#1b1f24;


	--buttonColor:#313435;


}