:root{
	--mainColor:#6d6d6d;
	--secondaryColor: #525050;


	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(101, 102, 99, 0.8);
	--previewShadow:#3c3d3a;


	--buttonColor:#333533;


}
