:root{

	--mainColor: #3d2939
	;
	--secondaryColor:#2e1f2b; 


	--borderColor:#060407;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#161018;


	--buttonColor:#18111b;


}
